Package: gay.sdh.foulplay
Name: FoulPlay
Version: 1.1.0
Architecture: iphoneos-arm64
Description: Slopped-ish frontend for unfairplay
Author: sdhEmily
Maintainer: sdhEmily
Icon: file:///var/jb/Applications/FoulPlay.app/AppIcon.png
Depends: firmware (>= 15.0)
Section: Utilities
